# Import Pandas

In [1]:
import pandas as pd

# Importing Data

#### names is header row in pd, sep == separator (t == tab)), index_col is col to be used for index

In [2]:
names = ['id', 'title', 'year', 'rating', 'votes', 'length', 'genres']
data = pd.read_csv('imdb_top_10000.txt', sep='\t', names = names, index_col=0)

# Exploring Data

#### First i elements

In [3]:
data.head(7)

,title,year,rating,votes,length,genres
id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
tt0109830,Forrest Gump (1994),1994,8.7,368994,142 mins.,Comedy|Drama|Romance
tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama

#### Last i elements

In [4]:
data.tail(3)

,title,year,rating,votes,length,genres
id,,,,,,
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

#### Number of elements in columns + types of elements

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
title     10000 non-null object
year      10000 non-null int64
rating    10000 non-null float64
votes     10000 non-null int64
length    10000 non-null object
genres    9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

#### More info about data in numeric columns => count, mean, standard deviation, quartiles, min, max

In [7]:
data.describe()

               year        rating          votes
count  10000.000000  10000.000000   10000.000000
mean    1993.472800      6.386070   16604.012800
std       14.829924      1.189933   34563.459698
min     1950.000000      1.500000    1356.000000
25%     1986.000000      5.700000    2333.750000
50%     1998.000000      6.600000    4980.500000
75%     2005.000000      7.200000   15277.750000
max     2011.000000      9.200000  619479.000000